body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../public/dna-seq.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

textarea {
  width: 70%;
  height: 70px;
  margin-bottom: 20px;
  padding: 10px;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-container {
  margin-top: 20px;
  background: transparent;
  background-color: rgba(255, 255, 255, 0.8);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #000; /* Change border color to black */
  padding: 8px;
  text-align: left;
}

